@use "sass:map";
@use "header";
@import "../../../../style/pages/all";

$bannerImg: "/assets/user/images/hero/banner.png";
.header_top{
    background-color: rgb(227, 227, 227);
    // height: 50px;
    padding: 20px;
}

.header_top_left{

    ul{
        // background: red;
        display: flex;
        justify-content: start;
        column-gap: 10px;
        list-style: none;
        align-items: center;
        li{
            font-size: 14px;
            display: flex;
            align-items: center;
            column-gap: 2px;
        }
        li:first-child {
            position: relative;
            &:after{
                position: absolute;
                right: -5px;
                top: 1px;
                height: 18px;
                width: 1px;
                background: black;
                // opacity: 0.1;
                content: "";
            }
        }
    }
}

.header_top_right{
    // background: red;
    display: flex;
    justify-content: end;

    ul{
        display:  flex;
        column-gap: 10px;
        list-style: none;

        a {
            font-size: 14px;
            display: inline-block;
            color: map.get($theme-colors, "normal-text");
        }

        li:last-child {
            cursor: pointer;
            margin-left: 10px;
        }

        span{
            font-size: 14px;
            margin-left: 2px;
        }
    }
}

.header_cart {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px 0;
    ul {
        display: flex;
        margin-right: 20px;

        li {
            list-style: none;
            position: relative;
            margin-left: 20px;
            
            svg{
                font-size: 25px;
                color: map.get($theme-colors, "normal-text");
            }

            span{
                color: white;
                background-color: map.get($theme-colors, "main");
                position: absolute;
                height: 20px;
                width: 20px;
                border-radius: 50%;
                display: inline-block;
                text-align: center;
                line-height: 20px;
                font-size: 13px;
                font-weight: 500;
                left: 16px;
                top: -6px;
            }
        }

    }
}

.header_logo{
    padding: 15px 0;
}

.header_menu{
    padding: 24px 0;
    
    ul {
        display: flex;
        justify-content: space-between;
        
        .active a{
            color: map.get($theme-colors, "main");
        }
        a{
            text-decoration: none;
            font-size: 16px;
            color: map.get($theme-colors, "bold-text");
            font-weight: bold;
            letter-spacing: 2px;
            transition: all 0.3s;
            padding: 5px 0;
            display: block;
        }

        li{
            list-style: none;
        }
        .header_menu_dropdown {
            background: #222222;
            display: block;
            position: absolute;
            width: 180px;
            z-index: 9;
            padding: 5px 0;
            transition: all, 0.3s;
            opacity: 0;
            visibility: hidden;

            li{
                a{
                    text-transform: capitalize;
                    color: white;
                    font-weight: 400;
                    padding: 5px 15px;
                }
                a:hover{
                    color: map.get($theme-colors,"main");
                }
            }
        }

        li:hover .header_menu_dropdown{
            opacity: 1;
            visibility: visible;
        }
    }
}

.hero_search_container{
    .hero_search_form{
        float: left;
        // padding-left: 15px;
        width: 83%;
        height: 50px;
        margin-bottom: 30px;
        
        form{
            padding-left: 15px;
            display: flex;
            align-items: center;
        }
    
        input{
            // border: none;
            height: 48px;
            font-size: 16px;
            color: #b2b2b2;
            padding-left: 20px;
            border: 1px solid #ebebeb;
            width: 70%;
            :focus{
                outline: none;
                border: none;
    
            }
        }
    
        button {
            font-size: 14px;
            color: #ffffff;
            font-weight: 800;
            text-transform: uppercase;
            display: inline-block;
            padding: 16px 30px 17px;
            background: map.get($theme-colors,"main");
            border: none;
            height: 100%;
        }
    }
    
    
    .hero_search_phone{
        display: flex;
        align-items: center;

        .hero_search_phone_icon{
            font-size: 25px;
            padding: 10px;
            background: #f5f5f5f5;
            line-height: 50px;
            float: left;
            margin-right: 20px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: map.get($theme-colors,"main");
            border-radius: 50%;
        }
    
        .hero_search_phone_text {
            display: inline-block;
    
            p {
                color: map.get($theme-colors,"normal-text");
                font-weight: bold;
                margin-bottom: 5px;
            }
    
            span{
                color: #6f6f6f;
                font-size: 14px;
            }
        }
    }

    .hero_item{
        margin-left: 15px;
        background-image: url($bannerImg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 410px;
        display: flex;
        width: 100%;
        align-items: center;
        margin-left: 15px;
    }

    .hero_text{
        // top: 100px;
        color: white;
        padding-left: 50px;
        padding-bottom: 100px;

        span{
            // color: black;
            // padding: 20px 5px;
            // background: white;
            border-radius: 20px;
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 2px;
        }

        h2{
            font-size: 45px;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: 4px;
            line-height: 52px;
            margin: 10px 0;
            
        }
        p{
            font-size: 14px;
            text-transform: uppercase;
            font-weight: 500;
            margin: 10px 0;
            line-height: 20px;
        }

        a{
            display: inline-block;
            font-size: 14px;
            padding: 10px 20px 10px;
            text-transform: uppercase;
            font-weight: 700;
            text-decoration: none;
            letter-spacing: 2px;
            background: white;
            border-radius: 20px;
        }
    }
}

.hero_categories{
    position: relative;
    .hero_categories_all{
        background:  map.get($theme-colors,"main");
        padding: 15px 25px 15px 40px;
        display: flex;
        align-items: center;
        color: #ffffff;
        cursor: pointer;
    
        svg, span {
            font-size: 14px;
            color: #ffffff;
            margin-right: 5px;
            font-weight: 500;
        }

        svg{
            font-size: 20px;
            font-weight: bold;
        }
    }
    ul {
        opacity: 1;
        border: 1px solid #ededed;
        position: absolute;
        width: 99%;
        background: #ffffff;
        transition: all, 0.2s;

        li {
            list-style: none;

            a{
                text-decoration: none;
                background-color: transparent;
                font-size: 16px;
                color: map.get($theme-colors,"normal-text");
                line-height: 30px;
                display: flex;
                padding-left: 40px;
            }

            &:hover{
                background: #f7ffff;

                a{
                    color: map.get($theme-colors,"main");
                }
            }
        }
        &.hidden{
            opacity: 0;
        }
    }
}

.humberger_menu_wrapper{
    display: none;
}

@include Responsive($MEDIUM_DEVICE){
    .humberger_open{
        display: none
    }
}
@include Responsive($DESKTOP){
    .humberger_open{
        display: none
    }
}
@include Responsive($TABLET_DEVICE){
    @include header.header_small_device;
    
    .tablet{
        width: 500px;
    }

    .hero_search_container{
        margin-left: -15px;
        // width: 470px !important;
        // padding-left: unset !important;
    }

    .hero_search{
        display: grid;
    }

    .hero_search_phone{
        padding-left: 15px;
        padding-bottom: 20px;
    }

    .hero_search_container .hero_search_form button {
        font-size: 14px;
        color: #ffffff;
        font-weight: 800;
        text-transform: uppercase;
        display: inline-block;
        padding: 16px 27px 16px;
        background: #ebc41d;
        border: none;
        height: 100%;
    }
}

@include Responsive($WIDE_MOBILE){
    @include header.header_small_device;

    .hero_cart{
        display: grid;
    }

    .hero_logo{
        width: max-content;
    }

    .hero_search_form{
        width: 350px !important;

        button{
            width: 150px;
            height: 50px !important;
        }
    }

    .hero_search_phone{
        margin-bottom: 30px;
    }

    .hero_item{
        margin-left: unset !important;
    }
}