@use "sass:map";
@import "../../../style/pages/all";


.container{
    padding: 30px 0;

    .slidebar{
        padding-right: 20px;

        .slidebar_item{
            margin-bottom: 20px;

            input{
                width: 200px;
            }

            h2{
                color: black;
                font-weight: 700;
                margin-bottom: 10px;
            }

            .price_range_wrap{
                display: flex;
                flex-direction: column;
                row-gap: 10px;
            }

            .tags{
                display: flex;
                gap: 10px;
                flex-wrap: wrap;
                flex-direction: column;

                .tag{
                    font-size: 12px;
                    color: #6f6f6f;
                    display: inline-block;
                    padding: 8px 25px 6px;
                    cursor: pointer;
                    background: #f5f5f5;
                    margin: 0;
                    width: 150px;

                    &:hover, &:active{
                        color: white;
                        background: map.get($theme-colors,"main");
                    }
                }
            }

        ul li {
            list-style: none;
            a{
                text-decoration: none;
                line-height: 30px;
                color:  map.get($theme-colors,"normal-text");

                &:hover{
                    background: map.get($theme-colors,"main");
                }
            }
        }
        }
    }
}
