@use "sass:map";
@import "../../../style/pages/all";


.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Arial', sans-serif;
    background: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;

    .table_cart {
        overflow-x: auto;
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);

        .cart_item {
            transition: all 0.3s ease; /* Thêm hiệu ứng chuyển động */
            opacity: 1; /* Mặc định hiển thị */
        }
        
        .cart_item.removing {
            opacity: 0; /* Mờ dần khi bị xóa */
            transform: translateX(-50px); /* Di chuyển sang trái */
            pointer-events: none; /* Vô hiệu hóa sự kiện */
        }

        table {
            border: 1px solid #ddd;
            width: 100%;
            border-collapse: collapse;

            thead {
                tr {
                    th {
                        text-align: center;
                        background-color: map.get($theme-colors,"main");
                        color: white;
                        padding: 15px;
                    }
                }
            }

            tbody {
                tr {
                    transition: background 0.3s ease;

                    &:hover {
                        background-color: #fafafa;
                        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
                        transform: scale(1.01);
                        transition: all 0.3s ease;
                    }

                    td {
                        text-align: center;
                        border-bottom: 1px solid rgb(221, 221, 221);
                        padding: 15px;

                        img {
                            width: 100px;
                            border-radius: 8px;
                            box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
                        }

                        button {
                            background-color: #e74c3c;
                            color: white;
                            border: none;
                            padding: 8px 12px;
                            border-radius: 5px;
                            cursor: pointer;
                            font-size: 14px;
                            transition: background 0.3s ease;

                            &:hover {
                                background-color: #c0392b;
                            }
                        }
                    }
                }
            }
        }

        .total_price {
            text-align: right;
            font-size: 24px;
            font-weight: bold;
            margin-top: 20px;
            border-top: 2px dashed #ddd;
            padding-top: 10px;
            color: #e74c3c;
        
            span {
                font-size: 28px;
            }
        }
}
}
