@use "sass:map";
@import "../../../style/pages/all";


.container_login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    transition: all 1s;
    &.login-mode {
        background-image: url("../../../assets/user/images/login/login2.webp");
    }
    
    // Hình nền khi ở chế độ đăng ký
    &.register-mode {
        background-image: url("../../../assets/user/images/login/register.webp");
    }
    background-repeat: no-repeat;
    background-size:cover;
}


.form-section {
flex: 1;
display: flex;
justify-content: center;
align-items: center;

.form {
    background: white;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    padding: 2rem;
    border-radius: 10px;
    width: 100%;
    max-width: 800px;
    text-align: center;
    
    // height: 300px;
    align-items: center;

    h2 {
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    }

    form {
    display: flex;
    flex-direction: column;

    input {
        width: 97%;
        margin-bottom: 1rem;
        padding: 0.75rem;
        border: 1px solid #ccc;
        border-radius: 5px;
        &::placeholder{
            font-size: 20px;
        }
    }

    button {
        margin-bottom: 20px;
        font-size: 25px;
        padding: 0.75rem;
        background: #007bff;
        color: white;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        
        &:hover {
        background: #0056b3;
        }
    }
    }

    .toggle-link {
    color: #007bff;
    cursor: pointer;
    text-decoration: underline;
    &:hover {
        color: #0056b3;
    }
    }
}
}
