@use "sass:map";
@import "../../../style/pages/all";


.container{
    .product_detail_pic{
        display: flex;
        column-gap: 10px;
        // background: gray;
        img{
            flex: 0 0 65%;
            object-fit:  contain;
            width: 10%;
            margin: 5px;
            // background: rgb(211, 211, 211);
            border: 1px solid rgb(215, 215, 215);
            border-radius: 10px;
            transition: all, 0.5s;
            &:hover{
                scale: 1.1;
            }
        }

        

        .main{
            flex:  0 0 35%;
            display: grid;
            align-items: stretch;
            transition: all, 0.5s;

            img{
                width: 60%;
                object-fit: cover;

                &:not(:first-child){
                    padding-top: 5px;
                }

                &:hover{
                    scale: 1.1;
                }
            }
        }
    }

    .product_detail_text{
        h2{
            color: black;
            font-weight: 700;
        }
        .seen_icon{
            display: flex;
            align-items: center;
            // justify-content: center;
            font-size: 15px;
            line-height: 30px;
            gap: 5px;
            color: black;
        }

        p{
            margin: 10px 0;
            line-height: 25px;
        }

        ul {
            margin: 20px 0;
            border-top: 1px solid white;
            padding-top: 20px;

            li{
                list-style: none;
                display: flex;
                column-gap: 20px;
                line-height: 35px;

                b{
                    width: 150px;
                }
                span {
                    display: flex;
                    column-gap: 10px;
                    align-items: center;
                    font-weight: 700;
                    // color: map.get($theme-colors,"main");

                    svg{
                        font-size: 20px;
                        cursor: pointer;
                    }
                }
            }
        }
    }

    
}
.product_detail_tab, .section-title {
    margin: 20px auto;
    h1{
        text-align: center;
        position: relative;
        margin-bottom: 20px;
        &::after {
            position: absolute;
            right: -120px;
            top: 20px;
            height: 1px;
            width: 43%;
            background: rgb(179, 178, 178);
            content: "";
        }
        &::before{
            position: absolute;
            left: -120px;
            top: 20px;
            height: 1px;
            width: 43%;
            background: rgb(179, 178, 178);
            content: "" ;
        }
    }
}

