.recent-orders {
    margin-top: 20px;

    table {
        width: 100%;
        border-collapse: collapse;

        th, td {
        border: 1px solid #ddd;
        padding: 10px;
        text-align: left;
        }

        th {
        background: #f8f9fa;
        }

        td {
        &:nth-child(2) {
            color: green;
        }
        }
    }
}
