@use "sass:map";
@import "../../style/pages/all";

.quantity_container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity {
    display: flex;
    align-items: center;
    gap: 5px;
    border: 5px solid #ddd;
    padding: 5px;
    border-radius: 5px;
}

.qtybtn {
    cursor: pointer;
    background-color: #f0f0f0;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 18px;
    transition: background 0.3s ease;
}

.qtybtn:hover {
    background-color: #ddd;
}

input[type="number"] {
    width: 50px;
    text-align: center;
    border: none;
    font-size: 16px;
}

.button_submit {
    padding: 8px 15px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease;
}

.button_submit:hover {
    background-color: #45a049;
}
